<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<!--<rule name="Redirect rule" stopProcessing="true">
					--><!--<match url="(.*)" />--><!--
					<conditions logicalGrouping="MatchAny" trackAllCaptures="false">
						--><!--<add input="{HTTP_HOST}{REQUEST_URI}" pattern="localhost:44375/Privacy" />--><!--
						<add input="{HTTP_HOST}{REQUEST_URI}" pattern="test030421.azurewebsites.net/testing001" />
					</conditions>
					<action type="Redirect" url="https://test030421.azurewebsites.net" />
				</rule>-->
				<rule name="Rewrite rule" stopProcessing="true">
					<match url="^test$" />
						<action type="Rewrite" url="/Privacy" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>